body {
  background-color: #ffffff;
  margin: 0;
}
header {
  background-color: #ae9393;
}
h1 {
  margin-top: 0;
}
.mainbody {
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.imagecontainer {
  display: grid;
  grid-template-areas: "image";
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.image {
  grid-area: image;
}
img {
  max-width: 50%;
  height: auto;
  align-items: center;
}
li {
  display: inline-block;
  font-family: "Raleway", "sans-serif";
  font-size: 18;
  float: right;
  margin: 0;
  padding: 0;
}
ul {
  background-color: #bba6a6;
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: 40px;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: Black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*giving text decoration none value to avoid underlined names. */
}

li a:hover {
  background-color: lightgrey;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  /*setting the colors of insta and facebook link buttons. */
  background: brown;
  color: white;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
footer {
  text-align: center;
  background-color: #e7dbdb;
  margin-top: 100px;
}

@media screen and (max-width: 400px) {
  .mainbody {
    grid-template-columns: 80%;
  }
}
